{{- define "main" -}}
<h1>{{ .Title }}</h1>
{{ if not .Date.IsZero }}
  {{ .Date.Format "January 2, 2006" }}
{{ end }}
<em>{{ .Description }}</em>
{{- partial "table-of-contents.html" . -}}
{{- .Content -}}
{{- partial "edit-meta.html" . -}}
{{- partial "pagination.html" . -}}
{{- end -}}
