{{$currentNode := .}}

<nav class="slide-menu">
<ul>
<li class="{{ if .IsHome }}active{{ end }}"><a href="{{ .Site.BaseURL }}">Home</a></li>
{{- if eq .Site.Params.ordersectionsby "title" -}}
  {{- range .Site.Home.Sections.ByTitle -}}
{{template "slide-menu" dict "sect" . "currentnode" $currentNode}}
  {{- end -}}
{{- else -}}
  {{- range .Site.Home.Sections.ByWeight -}}
{{template "slide-menu" dict "sect" . "currentnode" $currentNode}}
  {{- end -}}
{{- end}}
</ul>
</nav>

{{define "slide-menu"}}
{{- $currentNode := .currentnode -}}
{{ with .sect }}
{{ if .IsSection }}
{{ if in .Site.Params.menu_exclusion .Section }}
{{- else -}}
  {{- safeHTML .Params.head -}}
  {{- $numberOfPages := (add (len .Pages) (len .Sections)) -}}
<li class="{{ if .IsAncestor $currentNode }}parent{{ end }}{{ if and .File $currentNode.File }}{{ if eq .File.UniqueID $currentNode.File.UniqueID }} active{{ end }}{{ end }}{{ if ne $numberOfPages 0 }} has-sub-menu{{ end }}">
    <a href="{{ .Permalink }}">
        {{ safeHTML .Params.Pre }}{{ .Title }}{{ safeHTML .Params.Post }}
        {{ if ne $numberOfPages 0 }}
            {{ if or (.IsAncestor $currentNode) (eq .Permalink $currentNode.Permalink) }}
                <span class="mark opened">-</span>
            {{ else }}
                <span class="mark closed">+</span>
            {{ end }}
        {{ end }}</a>
  {{ if ne $numberOfPages 0 }}
<ul class="sub-menu{{ if or (.IsAncestor $currentNode) (eq .Permalink $currentNode.Permalink) }} open{{ end }}">
    {{- .Scratch.Set "pages" .Pages -}}
    {{- if .Sections -}}
      {{- .Scratch.Set "pages" (.Pages | union .Sections) -}}
    {{- end -}}
    {{- $pages := (.Scratch.Get "pages") -}}
    {{- if eq .Site.Params.ordersectionsby "title" -}}
      {{- range $pages.ByTitle -}}
        {{- if and .Params.hidden (not $.showhidden) -}}
        {{- else -}}
{{template "slide-menu" dict "sect" . "currentnode" $currentNode}}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{- range $pages.ByWeight -}}
        {{- if and .Params.hidden (not $.showhidden) -}}
        {{- else -}}
{{template "slide-menu" dict "sect" . "currentnode" $currentNode}}
        {{- end -}}
      {{- end -}}
    {{- end}}
</ul>
  {{end}}
</li>
{{- end -}}
{{- else -}}
  {{- if not .Params.Hidden -}}
<li class="{{ if and .File $currentNode.File }}{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active{{ end }}{{ end }}"><a href="{{ .Permalink }}">{{ safeHTML .Params.Pre }}{{ .Title }}{{ safeHTML .Params.Post }}</a></li>
  {{- end -}}
{{ end -}}
{{ end -}}
{{ end }}
