<style>
  .note{
    border-left: 1px solid;     
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #eaeaea;
  }
  .note-header h3 {
    font-size: medium;
  }

</style>

<div class="note">
  <div class="note-header">
    <h3><i class="far fa-lightbulb"></i>&nbsp;Note</h3>
  </div>
  <div class="note-body">
    {{.Inner}}
  </div>
</div>


